.md-calendar-booking .mbsc-calendar-text {
  text-align: center;
}

.md-calendar-booking .booking-datetime .mbsc-datepicker-tab-calendar {
  flex: 1 1 0;
  min-width: 300px;
}

.md-calendar-booking .mbsc-timegrid-item {
  margin-top: 1.5em;
  margin-bottom: 1.5em;

  box-sizing: border-box;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 0.09rem solid rgb(53, 149, 246);
  color: rgb(53, 149, 246);
}

.md-calendar-booking .mbsc-timegrid-container {
  top: 30px;
}
